
/* --- Miscelaneous --- */

.clickable {
  cursor: pointer;
}

.text-medium {
  font-size: 14px;
}

.text-small {
  font-size: 12px;
}

.table-bg-anim,
.table-bg-anim td {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.bg-info-light {
  background-color: #d9f0ff;
}

.bg-success-light {
  background-color: #d9ffef;  
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

/* --- Progress bar colours --- */

.colored-progress-bar {
  height: 20px;
  border-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 3px #aaa;
  position: relative;
}

.colored-progress-bar_arrow {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;

  font-size: 14px;
  top: -12px;
  transform: translateX(-50%);
  position: absolute;
}

/* --- Body silhouette --- */

.body-silhouette {
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

/* --- Animations --- */

/* Shrink vertically and fade */

.shrink-and-fade-enter,
.shrink-and-fade-leave,
.shrink-and-fade-enter-active,
.shrink-and-fade-leave-active {
  -webkit-transition: opacity 0.7s, max-height 0.7s;
  -moz-transition: opacity 0.7s, max-height 0.7s;
  transition: opacity 0.7s, max-height 0.7s;
  overflow-y: hidden;
  max-height: 250px;
}

.shrink-and-fade-enter,
.shrink-and-fade-leave-to {
  opacity: 0;
  max-height: 0;
}

/* Shrink font */

.shrink-font-enter,
.shrink-font-leave,
.shrink-font-enter-active,
.shrink-font-leave-active {
  -webkit-transition: font-size 0.7s;
  -moz-transition: font-size 0.7s;
  transition: font-size 0.7s;
}

.shrink-font-enter,
.shrink-font-leave-to,
div.shrink-font-enter,
div.shrink-font-leave-to,
span.shrink-font-enter,
span.shrink-font-leave-to {
  font-size: 0;
}

/* Fade (for directives) */

.v-fade-base {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;

  opacity: 1;
}

.v-fade-base.v-fade-fast {
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.v-fade-base.v-fade-bellow {
  -webkit-transition: opacity 0.5s, bottom 0.5s;
  -moz-transition: opacity 0.5s, bottom 0.5s;
  transition: opacity 0.5s, bottom 0.5s;

  position: relative;
  bottom: 0;
}

.v-fade-base.v-fade-bellow.v-fade-fast {
  -webkit-transition: opacity 0.25s, bottom 0.25s;
  -moz-transition: opacity 0.25s, bottom 0.25s;
  transition: opacity 0.25s, bottom 0.25s;
}

.v-fade-base.v-fade-faded {
  opacity: 0;
}

.v-fade-base.v-fade-faded.v-fade-bellow {
  bottom: -5px;
}

.v-fade-base.v-fade-hidden {
  display: none;
}
